.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.slick-list {
  height: 34vh !important;
}
.selected:hover,
.selected:focus {
  transform: scale(1.1) !important;
  color: black !important;
  padding-left: 13% !important;
  background-color: rgb(183 231 150) !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Option {
  font-size: 18px !important;
  font-family: "Comic Sans MS";
}
.ant-select {
  border: 2px solid black !important;
}
.ant-input-affix-wrapper {
  background-color: white !important;
  border: 2px solid black !important;
  font-size: 19px !important;
}

.large {
  color: #86ad63;
  font-size: 28px;
}
.small {
  color: #86ad63;
  font-size: 21px;
}
.ant-input-affix-wrapper,
.ant-input {
  border: none !important;
  background-color: #eeeeee !important;
}

@media screen and (max-width: 720px) {
  .search {
    height: 78vh !important;
  }

  .map1 {
    height: 30vh !important;
  }
  .map2 {
    height: 70vh !important;
  }
  .map {
    height: 110vh !important;
  }
  .map3 {
    height: 20vh !important;
  }
  .back {
    background: linear-gradient(
      to bottom,
      white 90%,
      rgb(147, 197, 114) 10%
    ) !important;
  }
  .forgotp {
    padding-left: 15% !important;
    padding-right: 1% !important;
  }
  .check {
    height: 116vh !important;
    background: linear-gradient(
      to top,
      whitesmoke 50%,
      rgb(147, 197, 114) 50%
    ) !important;
  }
}
